@reference "tailwindcss";

.search-input {
    @apply bg-gray-50;
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-50);
    box-sizing: border-box;
    width: 100%;

    &:focus-within {
        border: 1px solid #000;
    }

    &__icon {
        @apply w-4 h-4 left-2;
        position: absolute;
    }

    &__input {
        @apply w-full pl-8 h-10;
        border-radius: 8px;

        &:focus {
            outline: none;
        }
    }
}