.article-card {
    $self: &;

    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &__image {
        aspect-ratio: 16/9;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 400;

        img {
            width: 24px;
            height: 24px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        line-height: 1.2;

        @media (min-width: 1024px) {
            font-size: 30px;
        }
    }

    &__cta {
        display: flex;
        justify-content: flex-end;

        &-link {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            background-color: #E4002B;
            padding-inline: 8px;
            border-radius: 8px;
            height: 40px;
            line-height: 40px;
        }
    }
    
    &--main {
        gap: 32px;
        padding: 32px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

        #{$self}__title {
            font-size: 24px;
        }

        #{$self}__content {
            gap: 24px
        }
        
        @media (min-width: 1024px) {
            flex-direction: row;

            #{$self}__image {
                width: 50%;
            }

            #{$self}__content {
                width: 50%;
            }
        }
    }
}