<article class="article-card" [class.article-card--main]="highlight()">
    <a [href]="data().link" class="article-card__image" [attr.aria-label]="data().title">
        <img [src]="imageUrl" [alt]="data().title" />
    </a>
    <div class="article-card__content">
        <div class="article-card__date">
            <img src="assets/calendar.svg" alt="" aria-hidden="true" />
            <time>{{ data().date }}</time>
        </div>
        <h3 class="article-card__title">
            <a [href]="data().link">{{ data().title }}</a>
        </h3>
        <p class="article-card__description">{{ !highlight() && data().content.length > 360 ? data().content.slice(0, 360) + '...' : data().content }}</p>
        @if (highlight()) {
            <div class="article-card__cta">
                <a [href]="data().link" class="article-card__cta-link">Loren ipsum.</a>
            </div>
        }
    </div>
</article>